@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 90vh;
    margin-top: 10px;
    background-image: url("BACKGROUND.png"); 
    background-repeat: no-repeat;
    -o-background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 20px 10px;  
}

#imagem{
    
    width: 325px;
    height: 175px;
    background-repeat: no-repeat;
}
#palavra-secreta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 30px;
}

.letras{
    width: 16px;
    text-align: center;
    border-bottom: 2px solid #0A3871;
    color: #0A3871;
    padding: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

#teclado{
    display: flex;
    flex-direction: column;
    align-items: center;          /* centraliza horizontalmente as linhas */
    justify-content: center;      /* centraliza verticalmente se precisar */
    width: 100%;
    max-width: 380px;             /* limite máximo para não ficar muito largo */
    margin: 20px auto;            /* centraliza o bloco todo na página */
    gap: 8px;                     /* espaço entre as linhas de teclas */

}

.teclas button{
    flex: 0 0 50px;               /* tamanho fixo ou mínimo */
    height: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background: #4a90e2;
    color: black;
    cursor: pointer;
    transition: all 0.2s;


    /* box-shadow:  0px 2px 8px dimgray;
    border-radius: 5px;
    border: 1px solid dimgrey;  
    color: #0A3871; */

    /* 13 - 11 - 2022 */
    
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);

    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;
}

.teclas button:disabled{
    cursor: not-allowed;
}

.teclas button:hover{
    background: #357abd;
    transform: scale(1.08);
}
#btnReiniciar:hover {
  background: #c0392b;
}

#categoria{
    margin-top: 30px;
    color: #0A3871;
    font-size: 1.2em;
}

@media (min-width: 321px){
    .teclas button{
        width: 25px;
        height: 25px;
    }
    #categoria{
        font-size: 1.3em;
    }
}

@media (min-width: 376px){
    .teclas button{
        width: 30px;
        height: 30px;
    }
    #palavra-secreta{
        font-size: 1.3em;
    }
    .letras{
        width: 18px;
    }

    #categoria{
        font-size: 1.5em;
    }
}

@media (min-width: 426px){
    .teclas button{
        width: 36px;
        height: 36px;
    }
    #palavra-secreta{
        font-size: 1.5em;
    }
    .letras{
        width: 20px;
    }

    #categoria{
        font-size: 1.6em;
    }
}

@media (min-width: 769px){
    .teclas button{
        width: 68px;
        height: 68px;
        font-size: 2em;
    }
    #palavra-secreta{
        font-size: 2.5em;
    }
    .letras{
        width: 35px;
    }

    #categoria{
        font-size: 2em;
    }
}


